.card {
  background: white;
  margin-bottom: 10px;
  opacity: 0.8;
}

.card:hover {
  opacity: 1;
}

.card-header {
  height: 150px;
  background-size: cover;
  margin-top: 37px;
}
.card-body {
  padding: 30px;
  text-shadow: none;
}
